*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    background-color: rgb(76, 76, 255);
    /* width: 50%; */
    flex-direction: column;
  padding: 20px;
}
.form{
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}

.form .getDestination{
    display: flex;
}
.form .getDestination .fromLoc{
    margin-right:10px ;
}
.form .getDestination .toLoc{
    margin-left:10px ;
}
.form .getDestination label{
    color: white;
    font-size: 1.3rem;
    
}
.getDestination .fromLoc option{
    padding: 10px;
    font-size: 10px;
}
.form input{
    width: 15rem;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgb(243, 246, 248);
}
.form button{
    width: 50%;
    margin: 20px 50px 10px 5px;
   padding:8px;
   cursor:pointer;
   align-items: center;

}


#ticket{
    display: none;    
}
/* .choose-ticket{
    display: grid;
    grid-template-columns: repeat(1fr,1fr);
} */

.info{
    margin-top: 50px;
    background-color: rgb(137, 135, 135);
    display:flex;
    flex-direction:column;
    /* width:40%; */
    align-items:center;
    padding:30px;
    margin-top: 10px;
    /* display:none; */
}
.info .ticket-title{
    padding-bottom: 10px;
    color:white;
}
.loc-info{
    display:flex;

}
.from-loc, .to-loc{
    padding:10px;
}

.time-ticket{
    display:flex;
    padding-bottom:10px;
}
#ticket button{
    width: 50%;
    margin: 20px 50px 10px 5px;
   padding:8px;
   cursor:pointer;
   align-items: center;
}


/* to get ticket */
#pdfTkt{
    display: none;
    margin: 20px;
}

#left{
   float: left;
   margin-right : 10px;
}
.right{
    float: right;
    margin-left: 5px;
}


